header {
  height: 400px;
  width: 100%;
  background-image: url("../images/clean-gray-paper.png") ;
}

.header-container {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
