#header-container {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  background-image: url("../images/diagmonds-light.png") ;
  background-color: #4895ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-container img {
  width: 100%;
  height: auto;
}


@media screen and (min-width: 1024px) {
  #header-container {
    width: 30%;
    margin-top: 0px;
    border-radius: 25% 10%;
  }
}
