nav {
  background-image: url("../images/diagmonds-light.png");
  background-color: #4895ef;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  /* Desktop */
  /* remove write-new-tweet text when screen is smaller than 470px */
}
nav span {
  font-family: "Bungee";
  font-size: 1.5em;
}
nav #write-new-tweet {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  background-color: inherit;
  color: inherit;
  border: none;
  display: inline-block;
}
nav .nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .fa-angle-double-down {
  color: red;
}
@media screen and (min-width: 1024px) {
  nav {
    background-color: #3a0ca3;
    background-image: none;
  }
}
@media screen and (max-width: 470px) {
  nav .write-new-tweet {
    display: none;
  }
  nav .nav-container i.fa-angle-double-down {
    display: none;
  }
}
