#tweets-container {
  font-family: 'Source Sans Pro', sans-serif;
}

#tweets-container article{
  display:flex;
  flex-direction: column;
  border: 4px solid #666768;
  padding: 20px;
  margin-bottom: 30px;
}

#tweets-container article:hover {
  box-shadow: 6px 5px #CDCDCD;
}

#tweets-container article header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#tweets-container article div {
  padding: 20px;
}

#tweets-container article div.content {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-weight: 600;
  border-left: 20px;
  border-bottom: 3px solid #666768;
  overflow-wrap: break-word;
}

#tweets-container article footer i.fas {
  font-size: 16pt;
  padding-right: 10px;
  color: #3333A2;
}

#tweets-container article footer i.fas:hover {
  color: #FFA333;
}

#tweets-container article footer {
  display: flex;
  justify-content: space-between;
  font-size: 12pt;
}

#tweets-container article div.user-name {
  display: flex;
  align-items: center;
  word-break: break-all;
}

#tweets-container div.user-name span {
  padding-left: 20px;
}

#tweets-container div.handle {
  font-weight: 600;
  align-self: center;
  word-break: break-all;
  color: gray;
}

@media screen and (max-width: 680px) {
  #tweets-container article header {
    display: flex;
    flex-direction: column;
  }
  #tweets-container article div.user-name {
    flex-direction: column;
  }
}
